
body {
  background-color: #9ae59a;
  font-size: 1rem;
  font-family: Verdana, Geneva, sans-serif;
  /*display: flex;*/

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;

}



fieldset {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}



label {
  padding: 3px;
  margin: 2px;
}


.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3rem;
}

#fname {
  color: #aa2564;
}

#go {
  color: black;
}
