
body {
  background-color: #afe;
  font-size: 1rem;
  font-family: Verdana, Geneva, sans-serif;
}



.footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-top: 3rem;
}
